  <div class="container">
  　<% if @favorites.exists? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">タイトル</th>
            <th scope="col">説明</th>
            <th scope="col">タグ</th>
            <th scope="col">投稿者</th>
          </tr>
        </thead>
        <% @favorites.each do |favorite| %>
        <tbody>
          <tr>
            <th scope="row">
             <%= link_to favorite_path(favorite.id) do %>
              <%= favorite.title %>
             <% end %>
            </th>
            <td><%= favorite.body %></td>
            <td><%= favorite.tag %></td>
            <td><%= favorite.user.name %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    <% else %>
      <h3>該当する記事は見つかりませんでした。</h3>
    <% end %>
  </div>