    <div class="container">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">タイトル</th>
              <th scope="col">説明</th>
              <th scope="col">タグ</th>
              <th scope="col">投稿者</th>
              <th scope="col">コメント数</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><%= @favorite.title %></th>
              <td><%= @favorite.body %></td>
              <td><%= @favorite.tag %></td>
              <td><%= @favorite.user.name %></td>
              <td><%= @favorite.favorite_comments.count %></td>
              <td>
              <% if @favorite.user == current_user %>
               <%= link_to "削除", favorite_path(@favorite), method: :delete, class:"btn btn-danger" %>:
               <%= link_to "編集", edit_favorite_path(@favorite.id), class:"btn btn-success" %>
              <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <% @favorite.favorite_comments.each do |favorite_comment| %>
          <%= favorite_comment.user.name %>
          <%= favorite_comment.created_at.strftime('%Y/%m/%d') %><%= favorite_comment.comment %>
          <% if favorite_comment.user == current_user %>
            <%= link_to "削除", favorite_favorite_comment_path(favorite_comment.favorite, favorite_comment), method: :delete, class:"btn btn-danger" %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@favorite, @favorite_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
   </div>