<div class="container">
  <h3><%= @user.name %></h3>
  <% if @user == current_user %>
   <p><%= link_to "プロフィール編集", edit_user_path %></p>
  <% end %>
      <table class="table">
      <thead>
        <tr>
          <th scope="col">タイトル</th>
          <th scope="col">説明</th>
          <th scope="col">タグ</th>
        </tr>
      </thead>
      <% @favorites.each do |favorite| %>
      <tbody>
        <tr>
          <th scope="row">
          <%= link_to favorite_path(favorite.id) do %>
           <%= favorite.title %>
          <% end %>
          </th>
          <td><%= favorite.body %></td>
          <td><%= favorite.tag %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
</div>
