<div>
  <h3><%= @user.name %></h3>
  <% if @user == current_user %>
   <p><%= link_to "プロフィール編集", edit_user_path %></p>
  <% end %>
</div>

<% @favorites.each do |favorite| %>
<div>

  <p>タイトル：
  <%= link_to favorite_path(favorite.id) do %>
   <%= favorite.title %>
  <% end %>
  </p>
  <p>説明：<%= favorite.body %></p>
  <p>タグ：<%= favorite.tag %></p>
</div>
<% end %>