<div class="container">
 <div class="row">
  <h3 class="py-3 col-8"><%= @user.name %></h3>
  <% if @user == current_user %>
   <p class="py-3 col-4"><%= link_to "プロフィール編集", edit_user_path, class:"btn btn-success" %></p>
  <% end %>
 </div>
      <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">タイトル</th>
          <th scope="col">説明</th>
          <th scope="col">カテゴリ</th>
          <th scope="col">管理</th>
        </tr>
      </thead>
      <% @favorites.each do |favorite| %>
      <tbody>
        <tr>
          <th scope="row">
          <%= link_to favorite_path(favorite.id) do %>
           <%= favorite.title %>
          <% end %>
          </th>
          <td><%= favorite.body %></td>
          <td><%= favorite.tag %></td>
          <td>
            <% if favorite.user == current_user %>
              <%= link_to "削除", favorite_path(favorite), method: :delete, class:"btn btn-danger", data: {confirm: "削除しますか？"} %>:
              <%= link_to "編集", edit_favorite_path(favorite.id), class:"btn btn-success" %>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
</div>
